<div class="container"
fxLayout="row"
fxLayout.sm="column"
fxLayout.xs="column"
fxLayoutAlign.gt-md="space-around center"
fxLayoutGap="10px" 
fxLayoutGap.xs="0">

<div fxFlex="40">
  <div fxFlex *ngIf="dish" [@visibility]="visibility" @expand>
    <md-card>
      <md-card-header>
        <md-card-title>
          <h3>{{dish.name | uppercase}}</h3>
        </md-card-title>
      </md-card-header>
      <img md-card-image src="{{BaseURL + dish.image}}" alt={{dish.name}}>
      <md-card-content>
        <p>{{dish.description}}
        </p>
      </md-card-content>
      <md-card-actions>
        <button md-button [routerLink]="['/dishdetail', prev]"><span class="fa fa-chevron-left fa-lg"></span></button>
        <button md-button (click)="goBack()">BACK</button>
        <button md-button>LIKE</button>
        <button md-button>SHARE</button>
        <span class="flex-spacer"></span>
        <button md-button [routerLink]="['/dishdetail', next]"><span class="fa fa-chevron-right fa-lg"></span></button>
      </md-card-actions>
    </md-card>
  </div>
  <div [hidden]="dish">
    <md-spinner></md-spinner><h4>Loading . . . Please Wait</h4>
  </div>
</div>

<div fxFlex="40">
    <md-card>
        <md-card-header>
          <md-card-title>
            <h3>Comments</h3>
          </md-card-title>
        </md-card-header>
        <hr>
        <md-card-content>
            <div fxFlex *ngIf="dish" [@visibility]="visibility" @expand> 
                <md-list fxFlex>
                  <md-list-item *ngFor="let comment of dish.comments">
                          <p mdLine> {{comment.comment}} </p>
                          <p mdLine> {{comment.rating}} Stars</p>
                          <p mdLine> -- {{comment.author}} {{comment.date | date}} </p>
                  </md-list-item>
                </md-list>
            </div>
            
        </md-card-content>
  
      </md-card> 
</div>

</div>


<div class="container"
fxLayout="row"
fxLayout.sm="column"
fxLayout.xs="column"
fxLayoutAlign.gt-md="space-around center"
fxLayoutGap="10px" 
fxLayoutGap.xs="0">

<div fxFlex fxFlexOffset="20px" class="form-size">
  <h3>Send us your Feedback</h3>
   <p>{{ commentsForm.value | json }} {{ commentsForm.status | json }}</p>
 
   <form novalidate [formGroup]="commentsForm" (ngSubmit)="onSubmit()">
     <p>
       <md-input-container class="half-width">
         <input mdInput formControlName="author" placeholder="Author" type="text" required>
       </md-input-container>
     </p>
     <p>
       <span class="half-width">
        <md-slider flex md-discrete formControlName="rating" step = "1" min = "1" max = "5" aria-label = "rating"></md-slider>
       </span>
     </p>
     <p>
       <md-input-container class="full-width">
         <textarea mdInput formControlName="comment" placeholder="Your Feedback" rows=12></textarea>
       </md-input-container>
     </p>
     <button type="submit" md-button class="background-primary text-floral-white">Submit</button>
   </form>
 </div>

</div>


